@import "@/assets/global.scss";

.images-management {
  .title{
    color: $header-color;
    font-size: $header-size;
  }
  .container {
    .row {
      height: 160px;
      display: float;
      padding: 20px;

      .img-box {
        float: left;
        width: 50%;
        
        img {
          height: 120px;
          width: 120px;
        }
      }
      .btn-box {
        height: 100%;

        .btn {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding: 24px;
        }
      }
    }

    /*拖曳选中样式*/
    .chosen {
      border: solid 1px #3089dc !important;
    }
  }
}